html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.25;
    margin: 0;
    padding: 0;
}

nav, footer {
    display: none;
}

.container {
    width: 100%;
}

.wrapper {
    margin-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.codebook-logo {
    max-width: 150px;
}

h1 {
    margin-top: 10px;
    font-size: 1.25em;
}

p {
    margin-top: 10px;
    font-size: 0.8em;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

input {
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid blue;
    padding: 5px;
    font-family: Helvetica, sans-serif;
    min-width: 200px;
}

.signup-btn, .login-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    min-width: 200px;
    padding: 5px;
    border: 1px solid blue;
    background: blue;
    color: white;
    font-family: Helvetica, sans-serif;
}

.google-btn {
    border: none;
    background: transparent;
}

.social-media {
    margin-top: 10px;
    max-width: 32px;
}

a, a:visited{
    color: blue;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {

.wrapper {
    margin-top: 30px;
}

nav, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    color: white;
}

.footer-text {
    margin: 0;
    font-size: 1em;
}

}
